In [1]:
import numpy as np  # useful for many scientific computing in Python
import pandas as pd # primary data structure library

In [2]:
df_crime = pd.read_csv("https://cocl.us/sanfran_crime_dataset") 
# let's rename the columns so that they make sense
df_crime.rename(columns={'PdDistrict':'Neighborhood', 'Resolution':'Count'}, inplace=True)
df_crime.head()

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,Neighborhood,Count,Address,X,Y,Location,PdId
0,120058272,WEAPON LAWS,POSS OF PROHIBITED WEAPON,Friday,01/29/2016 12:00:00 AM,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)",12005827212120
1,120058272,WEAPON LAWS,"FIREARM, LOADED, IN VEHICLE, POSSESSION OR USE",Friday,01/29/2016 12:00:00 AM,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)",12005827212168
2,141059263,WARRANTS,WARRANT ARREST,Monday,04/25/2016 12:00:00 AM,14:59,BAYVIEW,"ARREST, BOOKED",KEITH ST / SHAFTER AV,-122.388856,37.729981,"(37.7299809672996, -122.388856204292)",14105926363010
3,160013662,NON-CRIMINAL,LOST PROPERTY,Tuesday,01/05/2016 12:00:00 AM,23:50,TENDERLOIN,NONE,JONES ST / OFARRELL ST,-122.412971,37.785788,"(37.7857883766888, -122.412970537591)",16001366271000
4,160002740,NON-CRIMINAL,LOST PROPERTY,Friday,01/01/2016 12:00:00 AM,00:30,MISSION,NONE,16TH ST / MISSION ST,-122.419672,37.765050,"(37.7650501214668, -122.419671780296)",16000274071000

In [3]:
print(df_crime.shape)

(150500, 13)

In [4]:
df=df_crime.groupby('Neighborhood').size().reset_index(name='Count')
df

  Neighborhood  Count
0      BAYVIEW  14303
1      CENTRAL  17666
2    INGLESIDE  11594
3      MISSION  19503
4     NORTHERN  20100
5         PARK   8699
6     RICHMOND   8922
7     SOUTHERN  28445
8      TARAVAL  11325
9   TENDERLOIN   9942

In [5]:
df_crime.describe()

         IncidntNum              X              Y          PdId
count  1.505000e+05  150500.000000  150500.000000  1.505000e+05
mean   1.616440e+08    -122.423599      37.768921  1.616440e+13
std    5.535976e+06       0.026210       0.023637  5.535976e+11
min    1.135121e+07    -122.513642      37.707922  1.135121e+12
25%    1.603283e+08    -122.434036      37.756486  1.603283e+13
50%    1.606541e+08    -122.416903      37.775421  1.606541e+13
75%    1.609764e+08    -122.406605      37.785063  1.609764e+13
max    9.910090e+08    -122.365565      37.819975  9.910090e+13

In [6]:
!conda install -c conda-forge folium=0.5.0 --yes
import folium

#print('Folium installed and imported!')

Solving environment: done

## Package Plan ##

  environment location: /home/jupyterlab/conda

  added / updated specs:
    - folium=0.5.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    cryptography-2.5           |   py36h1ba5d50_0         643 KB
    conda-4.6.3                |           py36_0         872 KB  conda-forge
    openssl-1.1.1a             |    h14c3975_1000         4.0 MB  conda-forge
    libarchive-3.3.3           |       h5d8350f_5         1.5 MB
    grpcio-1.16.1              |   py36hf8bcb03_1         1.1 MB
    libssh2-1.8.0              |                1         239 KB  conda-forge
    python-3.6.8               |       h0371630_0        34.4 MB
    ------------------------------------------------------------
                                           Total:        42.6 MB

The following packages will be UPDATED:

    conda:        4.5.12-py36_1000         conda-forge --> 4.6.3-py36_0            conda-forge
    cryptography: 2.3.1-py36hb7f436b_1000  conda-forge --> 2.5-py36h1ba5d50_0
    curl:         7.63.0-h646f8bb_1000     conda-forge --> 7.63.0-hbc83047_1000
    grpcio:       1.16.0-py36h4f00d22_1000 conda-forge --> 1.16.1-py36hf8bcb03_1
    libcurl:      7.63.0-h01ee5af_1000     conda-forge --> 7.63.0-h20c2e04_1000
    openssl:      1.0.2p-h14c3975_1002     conda-forge --> 1.1.1a-h14c3975_1000    conda-forge
    pycurl:       7.43.0.2-py36hb7f436b_0              --> 7.43.0.2-py36h1ba5d50_0
    python:       3.6.6-hd21baee_1003      conda-forge --> 3.6.8-h0371630_0
    qt:           5.9.6-h8703b6f_2                     --> 5.9.7-h5867ecd_1

The following packages will be DOWNGRADED:

    krb5:         1.16.2-hc83ff2d_1000     conda-forge --> 1.16.1-h173b8e3_7
    libarchive:   3.3.3-ha149a29_1000      conda-forge --> 3.3.3-h5d8350f_5
    libssh2:      1.8.0-h1ad7b7a_1003      conda-forge --> 1.8.0-1                 conda-forge


Downloading and Extracting Packages
cryptography-2.5     | 643 KB    | ##################################### | 100%
conda-4.6.3          | 872 KB    | ##################################### | 100%
openssl-1.1.1a       | 4.0 MB    | ##################################### | 100%
libarchive-3.3.3     | 1.5 MB    | ##################################### | 100%
grpcio-1.16.1        | 1.1 MB    | ##################################### | 100%
libssh2-1.8.0        | 239 KB    | ##################################### | 100%
python-3.6.8         | 34.4 MB   | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [10]:
# download countries geojson file
!wget --quiet https://cocl.us/sanfran_geojson. -O san_fran.geojson
    


print('GeoJSON file downloaded!')

GeoJSON file downloaded!

In [11]:

world_geo =  r'https://cocl.us/sanfran_geojson/san-francisco.geo.json' # geojson file
# create a plain world map
world_map = folium.Map(location=[37.75, -122.44], zoom_start=11)

In [ ]:
# generate choropleth map using the total immigration of each country to Canada from 1980 to 2013
world_map.choropleth(
    geo_data=world_geo,
    data=df,
    columns=['Neighborhood', 'Count'],
    key_on='feature.properties.DISTRICT',
    fill_color='YlOrRd', 
    fill_opacity=0.7, 
    line_opacity=0.2,
    legend_name='Crime Rate in San Francisco'
)

# display map
world_map